<div class="main">
    <form (ngSubmit)="deposit()">
    
    <h1>DEPOSIT</h1><br><br><br>
    
    
    <div>
    <label for="account_no">Account Number:</label>
    <input type="text" id="account_no" name="acno"[(ngModel)]="acno" ><br><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" [(ngModel)]="password" ><br><br><br> 
    <label for="amt">Amount</label> 

    <input type="amount" id="amt"name="amnt" [(ngModel)]="amnt" >
     <button type="button" (click)="deposit()">DEPOSIT</button><br><br>
    
</div>

</form>

    
    

</div>

<div class="main">
    <form (ngSubmit)="withdraw()">

    
    <h1>WITHDRAW</h1><br><br><br>
    
    
    <div>
    <label for="account_no">Account Number:</label>
    <input type="text" id="account_no" name= "acno1"[(ngModel)]="acno1" ><br><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password1"[(ngModel)]="password1" ><br><br><br> 
    <label for="amt">Amount</label> 

    <input type="amount" id="amt" name="amnt1" [(ngModel)]="amnt1" ><br>
     <button type="button" (click)="withdraw()">WITHDRAW</button><br><br>
     
</div>
</form>

    
    

</div>