<!-- <form (ngSumbit)="register()"> -->

    <div class="container w-50" >

        <h2>DEPOSIT</h2>
    
        
    
        <div class="p-2">
    
            <label for="accno">Acc No</label> <br>
    
            <input type="acno" id="accno" [(ngModel)]="acno"><br>
    
        </div>
    
        <div class="p-2">
    
            <label for="pas">password</label><br>
    
            <input type="password" id="pas" [(ngModel)]="pswd"><br>
    
        </div>
    
        <!-- <div class="p-2">
    
            <label for="pas1">Confirm password</label> <br>
    
            <input type="password" id="pas1"><br>
    
        </div> -->
    
        <div class="p-2">
    
            <label for="amt">Amount</label> <br>
    
            <input type="amount" id="amt" [(ngModel)]="amnt"  ><br>
    
        </div>
    
        <div>
    
            <button type="submit"  value="deposit" class="btn btn-primary">Deposit</button>
    
        </div>
    
        </div>
    
    
    <!-- </form> -->
    
            <!-- <p style="color: white; align-items: baseline;"> Please <a routerLink=''>Login </a> If you already registered...!</p> -->
    
            <br>
    
    
            <div class="container w-50">
    
                <h2>FUND TRANSFER</h2>
            
                
            
                <div class="p-2">
            
                    <label for="accno">Acc No</label> <br>
            
                    <input type="acno" id="accno" [(ngModel)]="acno"><br>
            
                </div>
            
                <div class="p-2">
            
                    <label for="pas">password</label><br>
            
                    <input type="password" id="pas" [(ngModel)]="pswd"><br>
            
                </div>
            
                <!-- <div class="p-2">
            
                    <label for="pas1">Confirm password</label> <br>
            
                    <input type="password" id="pas1"><br>
            
                </div> -->
            
                <div class="p-2">
            
                    <label for="amt">Amount</label> <br>
            
                    <input type="amount" id="amt" [(ngModel)]="amnt"  ><br>
            
                </div>
            
                <div>
            
                    <button type="submit"  value="deposit" class="btn btn-primary">Deposit</button>
            
                </div>
            
                </div>
